* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: white;
    background-color: black;
}
header {
    padding-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}
header h1 {
    flex: 1;
}
nav {
    margin-left: 20px;
    flex: 2;
    display: flex;
    justify-content: flex-end;
}
.nav-Explore {
    margin-right: 20px;
}
.nav-Explore button, .nav-LogIn button {
    cursor: pointer;
    color: white;
}
.button1 {
    opacity: 0.9;
    border: 2px solid white;
    width: 80px;
    height: 30px;
    background: transparent;
    border-radius: 3px;
}
.button1:hover {
    background-color: white;
    color: black;
    transition: ease-in 0.3s;
}
.button2 {
    opacity: 0.9;
    background-color: transparent;
    border: none;
    width: 80px;
    height: 30px;
}
button:hover {
    opacity: 1;
}
.section-Info {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.section-MainText {
    color: white;
    font-size: 25px;
}
.premium-Button {
    margin-top: 50px;
    width: 150px;
    height: 35px;
    align-items: center;
    background-color: #ff6905;
    border: 2px solid #e9640b;
    border-radius: 2px;
    color: #000000;
    font-size: 16px;
}
.section-InfoElements {
    margin-top: 180px;
    justify-content: space-around;
    display: flex;
    height: 20vh;
}
.section-InfoElements div {
    flex: 1;
}
.section-InfoElement1, .section-InfoElement2, .section-InfoElement3, .section-InfoElement4 {
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}
.section-InfoElement1,.section-InfoElement2, .section-InfoElement3, .section-InfoElement4 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 15px;
    opacity: 0.9;
}
.section-InfoElement1:hover, .section-InfoElement2:hover, .section-InfoElement3:hover, .section-InfoElement4:hover {
    opacity: 1;
    transition: ease-in 0.2s;
}
.section-InfoElements img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*Background images*/
.background-images  {
    background:
        linear-gradient(#0000006c, #000000a1, #000000dc, #000000, #000000),
        url("images/background-images/wallpaperback.png");
    background-size: cover;
    background-repeat:no-repeat;
    position: absolute;
    z-index: -1;
    top: 0%;
    width: 100%;
    height: 100vh;
}
/*Main first part text*/
.main1-ContentText {
    padding-top: 80px;
    height: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.premium-Button2 {
    margin-top: 50px;
    width: 220px;
    height: 40px;
    align-items: center;
    background-color: #ff6905;
    border: 2px solid #e9640b;
    border-radius: 2px;
    color: #000000;
    font-size: 20px;
}
.main2-Content {
    background-image: 
    linear-gradient(#000000,#000000a2,#000000ad, #00000075),
    url("/images/mainElements/Tog1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*2s main  part */
.main2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.main2-Content h3 {
    width: 200px;
    font-size: 30px;
}
.main2-ContentType {
    color: rgb(167, 166, 166);
    width: 300px;
    font-size: 15px;
}
.main2-ContentClass {
    width: 350px;
    font-size: 20px;
}
.main2-ContenButtons {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
}
.watchButton {
    cursor: pointer;
    width: 150px;
    height: 30px;
    background-color: #ff6905;
    border: none;
    border-radius: 2px;
    font-size: 17px;
}
.descButton {
    cursor: pointer;
    font-size: 13px;
    margin-left: 10px;
    width: 100px;
    height: 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 2px;
    border: solid 2px  #ff6905;
    opacity: 0.9;
}
.descButton:hover {
    opacity: 1;
    border: solid 2px white;
}
#player {
    margin-left: 80px;
    width: 920px;
    height: 540px;
}
/*Slider*/
.slider-WithAnime {
    background-color: rgb(221, 221, 221);
    padding-top: 50px;
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.slider-Image {
    width: 200px;
    height: 300px;
}
.slider-WithAnime h3{
    color: rgb(36, 36, 36);
    font-size: 25px;
    margin-bottom: 50px;
}
/*Payment section*/
.payment-section {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(236, 236, 236);
    color: black;
}
.payment-types {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 80%;
}
.payment-box1 {
    background-color: rgb(246, 246, 246);
    border: solid 5px rgba(216, 216, 216, 0.466);
    width: 300px;
    height: 550px;
}
.payment-box1 div {
    margin-top: 35px;
}
.payment-box2 {
    background-color: rgb(246, 246, 246);
    border-top: 40px solid#ff6905;
    border-left: solid #ff6905 2px;
    border-right: solid #ff6905 2px;
    border-bottom: solid #ff6905 2px;
    width: 300px;
    height: 550px;
}
.payment-box2BorderText {
    margin-top: -30px;
    color: white;
}
.payment-box3 {
    background-color: rgb(246, 246, 246);
    border-top: 40px solid rgba(216, 216, 216, 0.609);
    border-left: solid rgba(216, 216, 216, 0.609) 2px;
    border-right: solid rgba(216, 216, 216, 0.609) 2px;
    border-bottom: solid rgba(216, 216, 216, 0.609) 2px;
    width: 300px;
    height: 550px;
}
.payment-box3BorderText {
    margin-top: -30px;
    color: rgba(0, 0, 0, 0.65);
}
/*Price elements*/
.price-sign {
    margin-top: 40px;
    width: 80px;
}
.price-name {
    margin-top: 20px;
}
.price-taxes {
    opacity: 0.8;
    margin-top: 5px;
    font-size: 12px;
}
.price-promotion {
    margin-top: 5px;
}
.price-button1 {
    opacity: 0.9;
    margin-top: 20px;
    width: 200px;
    height: 30px;
    color: #ff6905;
    background-color: transparent;
    border: solid #ff6905 2px;
}
.price-button2 {
    opacity: 0.9;
    margin-top: 20px;
    width: 200px;
    height: 30px;
    color: white;
    background-color: #ff6905;
    border: solid #ff6905 2px;
}
.price-button2:hover {
    opacity: 1;
    transition: ease-in 0.1s;
}
.price-button1:hover {
    opacity: 1;
    background-color: #ff6905;
    color: white;
    transition: ease-in 0.1s;
}
.price-adds {
    list-style: none;
    font-size: 13px;
    margin-top: 40px;
}
.price-adds li{
    margin-top: 10px;
    text-align: left;
    margin-left: 20px;
}
.price-check {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.price-times {
    opacity: 0.2;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.price-adds li p {
    display: inline;
    margin-left: 5px;
}
.price-TimesColorGray {
    color: gray;
}
/*bottom informations*/
.bottom-Informations {
    color: black;
    background-color: rgb(236, 236, 236);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.bottom-InformationFreeAccount {
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.bottom-InformationFreeAccount p {
    color: #ff6905;
    margin-left: 5px;
    margin-right: 5px;
}
.bottom-InformationQuestins {
    margin-top: 80px;
}
.bottom-InformationQuestins h3 {
    margin-bottom: 15px;
    font-size: 25px;
}
.bottom-InformationQuestins div {
    font-size: 15px;
    display: flex;
    justify-content: center;
}
.bottom-InformationQuestins div p {
    color: #ff6905;
    margin-left: 5px;
    margin-right: 5px;
}
.bottom-InformationList {
    margin-top: 80px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    list-style: none;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.bottom-InformationListColor {
    color: #ff6905;
}
.bottom-InformationListLine {
    opacity: 0.8;
}
/*footer*/
footer {
    background-color: white;
}
footer section{
    color: rgba(0, 0, 0, 0.856);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 50px;
    margin: auto
}
.navBar-SelectLanguage {
    background-color: #ff6905;
    color: white;
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 2px;
}
.navBar-SelectLanguage option {
    background-color: white;
    color: black;
}